<div>{{> infoPetition}}</div>

<p>So here we are. This is going to be great and colorful!</p>

<ul>
    {{#users}}
        <li>
            {{#if homepage}}
                <a href="{{homepage}}" target="_blank">{{first}} {{last}}</a>
            {{else}}
                {{first}}
                {{last}}
            {{/if}}
            {{age}}
        </li>
    {{/users}}
</ul>

<p>Here is a digital sticker for you.</p>

<img src="{{directory}}/js.png" alt="sticker" width="150px" height="150px" />